@using KZERP.MVC.Models
@model LoginViewModel


<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <div class="card-body">
        <form asp-controller="Auth" asp-action="Login" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="UsernameOrEmail" class="form-label"></label>
                <input asp-for="UsernameOrEmail" class="form-control">
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>


        </form>
    </div>
</div>