@{  ViewData["Title"] = "Home Page";}

<div class="text-center card p-4 mb-4 bg-light">

    @if (User.Identity!.IsAuthenticated)
    {
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <hr />
        @if (User.IsInRole("Admin"))
        {
            <ul>
                <li><a href="/UserManagement">Kullanıcı Yönetimi</a></li>
                <li><a href="/Reports">Raporlar</a></li>
                <li><a href="/Settings">Sistem Ayarları</a></li>
            </ul>
        }
        else if (User.IsInRole("Manager"))
        {
            <ul>
                <li><a href="/Approvals">Onay İşlemleri</a></li>
                <li><a href="/TeamManagement">Takım Yönetimi</a></li>
            </ul>
        }
        else if(User.IsInRole("User") || User.IsInRole("Worker"))
        {
            <ul>
                <li><a href="/Profile">Profilim</a></li>
                <li><a href="/UploadFile">Dosya Yükle</a></li>
            </ul>
        }
    }
    else // Kullanıcı oturum açmamışsa
    {
        <h1 class="display-4">Welcome</h1>
        <p>In <strong>KZERP</strong>, KZ means Kai-Zen. And ERP is your comprehensive solution for <strong><i>enterprise resource planning</i></strong>. This platform is designed to streamline your business processes and enhance productivity.</p>
        <p>Explore the various modules and features we offer to manage your operations efficiently.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Auth" asp-action="Login">Get Started</a>
    }
</div>