@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center card p-4 mb-4 bg-light">
    <h1 class="display-4">Welcome</h1>
    <p>In <strong>KZERP</strong> word, KZ means Kai-Zen. And ERP is your comprehensive solution for <strong><i>enterprise resource planning</i></strong>. This platform is designed to streamline your business processes and enhance productivity.</p>
    <p>Explore the various modules and features we offer to manage your operations efficiently.</p>
    <a class="btn btn-primary btn-lg" href="/Account/Login">Get Started</a>
</div>