
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KZERP.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KZERP.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KZERP.MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Warehouses" asp-action="Index">Warehouses</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="RFID" asp-action="Index">RFID Logs</a>
                            </li> 

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About Us</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity?.IsAuthenticated == true)
                    {

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#" onclick="document.getElementById('AccountSettingsForm').submit(); return false;">
                                            Account
                                        </a>

                                        <form id="AccountSettingsForm" asp-controller="AccountSettings" asp-action="Index" method="post" style="display: none;"></form>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
                                            Logout
                                        </a>

                                        <form id="logoutForm" asp-controller="Auth" asp-action="Logout" method="post" style="display: none;"></form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex flex-grow-1 pt-0 ms-0">
        <!-- Controller'a göre farklı bir layout yapısı oluşturuluyor -->
        @if (ViewContext.RouteData.Values["controller"]?.ToString() == "AccountSettings")
        {
            <div class="container-fluid d-flex vh-100 p-0">
                <div class="row w-100 g-0">
                    <!-- Sidebar -->
                    <div class="col-md-3 bg-light border-end p-3">
                        <h4 class="mb-4"><a class="text-decoration-none text-dark" asp-controller="AccountSettings" asp-action="Index">Settings</a></h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link" asp-controller="AccountSettings" asp-action="UpdateProfile">
                                    Update Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AccountSettings" asp-action="ChangePassword">
                                    Change Password
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Ana içerik alanı -->
                    <div class="col-md-9 p-4">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - KZERP.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
